@use "global" as *;

.c-slide {
    position: relative;
    height: auto;
    aspect-ratio: 260/140;
}

.c-slide::after {
    opacity: 1;
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, .5);
    color: $white;
    content: "";
    @include mq("md") {
        opacity: 0;
        top: 0;
        height: 100%;
        transition: opacity .3s ease;
    }
}

@include mq("md") {
    .c-slide:hover::after {
        opacity: 1;
    }
}

.c-slide__text {
    opacity: 1;
    position: absolute;
    z-index: 2;
    color: $white;
    @include mq("md") {
        font-size: max(16px, myrem(25));
        opacity: 0;
        transition: opacity .3s ease;
    }
}

@include mq("md") {
    .c-slide:hover .c-slide__text {
        opacity: 1;
    }
}

.c-slide__link-detail {
    top: calc(50% + 30%);
    left: calc(50% + 4%);
    padding: 5px;
    @include mq("md") {
        padding: 10px 20px;
        top: calc(50% - 10%);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.c-slide__link-site {
    top: calc(50% + 30%);
    right: calc(50% + 12%);
    padding: 5px;
    @include mq("md") {
        padding: 10px 20px;
        top: calc(50% + 10%);
        right: inherit;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.c-slide img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}