@charset "UTF-8";
html {
  font-size: 100%;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4897579143vw;
  }
}
@media (min-width: 1074px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "";
  color: #333;
}

@media screen and (min-width: 768px) {
  a:hover,
  button:hover {
    cursor: pointer;
  }
}

/*****************************
* A Modern CSS Reset (https://github.com/hankchizljaw/modern-css-reset)
* 上記に、ul要素,ol要素,a要素への記述追加
*****************************/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-color: initial;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-inner {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1074px;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
}

.c-section-title {
  text-align: center;
  font-size: max(20px, 3.125rem);
  position: relative;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  background-color: transparent;
  -webkit-transition: backgroud-color 0.3s;
  transition: backgroud-color 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.p-header.js-scrolled {
  background-color: rgba(209, 201, 201, .4);
}

.p-header__logo {
  width: 11.25rem;
}

.p-header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-header__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: 1;
  height: 3.375rem;
  padding: 0.8125rem 0.75rem 0.8125rem 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-header__hamburger {
    display: none;
  }
}

.p-header__hamburger.open {
  padding: 6px 0.625rem 0.8125rem 0.625rem;
}

.p-header__hamburger span {
  display: inline-block;
  width: 1.5rem;
  height: 2px;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-header__hamburger.open span:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
          transform: translateY(15px) rotate(45deg);
}

.p-header__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.p-header__hamburger.open span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.p-header__global-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  width: 100%;
  height: 100vh;
  padding-top: 3.3125rem;
  background-color: rgba(209, 201, 201, .8);
}
@media screen and (min-width: 768px) {
  .p-header__global-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    position: initial;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
  }
}

.p-header__global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 80px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .p-header__global-nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
}

.p-header__item a {
  position: relative;
  padding: 20px 0;
  font-size: max(10px, 1.25rem);
  text-decoration: none;
}
.p-header__item a::before {
  position: absolute;
  bottom: 14px;
  left: -3px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 0;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  content: "";
}
.p-header__item a::after {
  position: absolute;
  top: 14px;
  right: -3px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 0;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  content: "";
}
.p-header__item a:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 48.5%;
  border-color: #262626;
  -webkit-transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
  transition: 0.3s transform linear, 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
}
.p-header__item a:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 48.5%;
  border-color: #262626;
  -webkit-transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
  transition: 0.3s transform linear, 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
}
.p-header__item a:focus-visible::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 48.5%;
  border-color: #333;
  -webkit-transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
  transition: 0.3s transform linear, 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
}
.p-header__item a:focus-visible::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 48.5%;
  border-color: #333;
  -webkit-transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
  transition: 0.3s transform linear, 0.3s height linear 0.3s, 0.3s -webkit-transform linear;
}

.p-mv {
  height: 100vh;
  -webkit-animation: fade-in_tl ease 1.5s forwards;
          animation: fade-in_tl ease 1.5s forwards;
}

.p-mv::before {
  -webkit-clip-path: polygon(100% 14%, 100% 51%, 0 66%, 0 26%);
          clip-path: polygon(100% 14%, 100% 51%, 0 66%, 0 26%);
  position: absolute;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  content: "";
}
@media screen and (min-width: 768px) {
  .p-mv::before {
    -webkit-clip-path: polygon(100% 6%, 100% 46%, 0 72%, 0 32%);
            clip-path: polygon(100% 6%, 100% 46%, 0 72%, 0 32%);
  }
}

.p-mv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.p-mv__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-mv__content-title {
  font-size: clamp(1.75rem, 0.891rem + 1.79vw, 3.75rem);
}

.p-mv__content-lead {
  font-size: max(10px, 1rem);
}

.p-mv__content-animate {
  position: relative;
}

.p-mv__content-animate::before {
  position: absolute;
  bottom: -20%;
  left: -5%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 10%;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
}
@media screen and (min-width: 768px) {
  .p-mv__content-animate::before {
    bottom: -20%;
    left: -5%;
  }
}

.p-mv__content-animate::after {
  position: absolute;
  top: -20%;
  right: -5%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 10%;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
}
@media screen and (min-width: 768px) {
  .p-mv__content-animate::after {
    top: -20%;
    right: -5%;
  }
}

.p-mv__content-animate.load-animation::before,
.p-mv__content-animate.load-animation::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 50%;
  height: 70%;
  border-color: #262626;
  -webkit-transition: 0.9s height linear 0.9s, 0.9s -webkit-transform linear;
  transition: 0.9s height linear 0.9s, 0.9s -webkit-transform linear;
  transition: 0.9s transform linear, 0.9s height linear 0.9s;
  transition: 0.9s transform linear, 0.9s height linear 0.9s, 0.9s -webkit-transform linear;
}
@media screen and (min-width: 768px) {
  .p-mv__content-animate.load-animation::before,
  .p-mv__content-animate.load-animation::after {
    width: 50%;
    height: 70%;
  }
}

@-webkit-keyframes fade-in_tl {
  from {
    opacity: 0;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="100" /></filter></svg>#filter');
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  to {
    opacity: 1;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes fade-in_tl {
  from {
    opacity: 0;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="100" /></filter></svg>#filter');
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  to {
    opacity: 1;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
.p-service {
  margin-top: 5rem;
}

.js-visible {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
}

.js-visible.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.p-service__title::before {
  position: absolute;
  bottom: -30%;
  left: 15%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 25%;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
}
@media screen and (min-width: 768px) {
  .p-service__title::before {
    bottom: -30%;
    left: 37%;
  }
}

.p-service__title::after {
  position: absolute;
  top: -30%;
  right: 15%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 25%;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
}
@media screen and (min-width: 768px) {
  .p-service__title::after {
    top: -30%;
    right: 37%;
  }
}

.p-service__title.load-animation::before,
.p-service__title.load-animation::after {
  border-color: #262626;
  width: 25%;
  height: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.9s height linear 0.9s, 0.9s -webkit-transform linear;
  transition: 0.9s height linear 0.9s, 0.9s -webkit-transform linear;
  transition: 0.9s transform linear, 0.9s height linear 0.9s;
  transition: 0.9s transform linear, 0.9s height linear 0.9s, 0.9s -webkit-transform linear;
}

.p-service__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  max-width: 67%;
  margin: 6.25rem auto 0 auto;
}
@media screen and (min-width: 768px) {
  .p-service__content {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    margin: 6.25rem 0 0 0;
  }
}

.p-service__content-item {
  padding: 10px 5px 30px 5px;
  display: grid;
  grid-template-columns: subgrid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  background-color: #fff;
  border-radius: 10%;
}
@media screen and (min-width: 768px) {
  .p-service__content-item {
    gap: 1.25rem;
  }
}

.p-service__content-title {
  text-align: center;
  font-size: max(10px, 1.875rem);
}

.p-service__content-lead {
  margin: 0 3.125rem;
  text-align: center;
  font-size: max(10px, 1rem);
}

.p-service__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-service__content-img img {
  max-width: 70%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .p-service__content-img img {
    max-width: 13.4375rem;
  }
}

#particles-js {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: #d1c9c9;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */
