@use "global" as *;

.p-footer {
    margin-top: myrem(80);
    margin-bottom: myrem(50);
    background-color: $white;
}

.p-footer__contant {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    @include mq("md") {
        justify-content: space-around;
        padding: 10px 0;
        align-items: center;
        flex-direction: row;
    }
}

.p-footer__logo {
    width: myrem(180);
    margin-top: myrem(30);
    @include mq('md') {
        margin-left: myrem(30);
    }
}

.p-footer__logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.p-footer__global-nav {
    width: 100%;
    height: 100%;
    @include mq("md") {
        display: flex;
        align-items: center;
        position: initial;
        width: auto;
        height: auto;
        padding-top: 0;
        background-color: transparent;
    }
}

.p-footer__global-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 40px auto 0 auto;
    @include mq("md") {
        margin: 0;
        gap: myrem(40);
        margin: 40px auto 0 auto;
    }
}

.p-footer__item {
    flex: 1 1 50%;
    text-align: center;
    padding-bottom: 10px;
    @include mq('md') {
        flex: none;
        width: auto;
        padding-bottom: 0;
    }
}

.p-footer__item a {
    position: relative;
    padding: 20px 0;
    font-size: max(10px, myrem(20));
    text-decoration: none;

    &::before {
        @include mq('md') {
            position: absolute;
            bottom: 14px;
            left: -5%;
            transform: translateX(100%);
            width: 100%;
            height: 0;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
            content: "";
        }
    }

    &::after {
        @include mq('md') {
            position: absolute;
            top: 14px;
            right: -5%;
            transform: translateX(-100%);
            width: 100%;
            height: 0;
            border-top: 1px solid transparent;
            border-right: 1px solid transparent;
            content: "";
        }
    }

    &:hover::before {
        @include mq('md') {
            transform: translateX(0);
            height: 48.5%;
            border-color: #262626;
            transition: .3s transform linear, .3s height linear .3s;
        }
    }

    &:hover::after {
        @include mq('md') {
            transform: translateX(0);
            height: 48.5%;
            border-color: #262626;
            transition: .3s transform linear, .3s height linear .3s;
        }
    }

    &:focus-visible::before {
        @include mq('md') {
            transform: translateX(0);
            height: 48.5%;
            border-color: $black;
            transition: .3s transform linear, .3s height linear .3s;
        }
    }

    &:focus-visible::after {
        @include mq('md') {
            transform: translateX(0);
            height: 48.5%;
            border-color: $black;
            transition: .3s transform linear, .3s height linear .3s;
        }
    }
}

.p-footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: myrem(30);
    padding-bottom: myrem(30);
    @include mq('md') {
        padding-bottom: myrem(50);
    }
}