@use "global" as *;

.p-header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    background-color: transparent;
    transition: backgroud-color .3s;
    align-items: center;
    @include mq("md") {
        justify-content: space-around;
    }
}

.p-header.js-scrolled {
    background-color: rgba(#d1c9c9, .4);
}



.p-header__logo {
    width: myrem(180);
}

.p-header__logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.p-header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25%;
    right: calc(50% - 45%);
    z-index: 1;
    height: myrem(54);
    padding: myrem(13) myrem(12) myrem(13) myrem(10);
    @include mq(md) {
        display: none;
    }
}

.p-header__hamburger.open {
    padding: 6px myrem(10) myrem(13) myrem(10);
}

.p-header__hamburger span {
    display: inline-block;
    width: myrem(24);
    height: 2px;
    background-color: $black;
    transition: .3s;
}

.p-header__hamburger.open span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
.p-header__hamburger.open span:nth-child(2) {
    opacity: 0;
}
.p-header__hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.p-header__global-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-1px);
    width: 100%;
    height: 100vh;
    padding-top: myrem(53);
    background-color: rgba(#d1c9c9, .8);
    @include mq("md") {
        display: flex;
        align-items: center;
        position: initial;
        width: auto;
        height: auto;
        padding-top: 0;
        background-color: transparent;
    }
}

.p-header__global-nav ul {
    display: flex;
    gap: myrem(40);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 80px auto 0 auto;
    @include mq("md") {
        flex-direction: row;
        margin: 0;
    }
}


.p-header__item a {
    position: relative;
    padding: 20px 0;
    font-size: max(10px, myrem(20));
    text-decoration: none;

    &::before {
        position: absolute;
        bottom: 14px;
        left: -3px;
        transform: translateX(100%);
        width: 100%;
        height: 0;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        content: "";
    }

    &::after {
        position: absolute;
        top: 14px;
        right: -3px;
        transform: translateX(-100%);
        width: 100%;
        height: 0;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        content: "";
    }

    &:hover::before {
        transform: translateX(0);
        height: 48.5%;
        border-color: #262626;
        transition: .3s transform linear, .3s height linear .3s;
    }

    &:hover::after {
        transform: translateX(0);
        height: 48.5%;
        border-color: #262626;
        transition: .3s transform linear, .3s height linear .3s;
    }

    &:focus-visible::before {
        transform: translateX(0);
        height: 48.5%;
        border-color: $black;
        transition: .3s transform linear, .3s height linear .3s;
    }

    &:focus-visible::after {
        transform: translateX(0);
        height: 48.5%;
        border-color: $black;
        transition: .3s transform linear, .3s height linear .3s;
    }
}

// SNSVer
// .header {
//   display: grid;
//   grid-template-columns: 2fr 1fr;
//   grid-template-areas:
//     "nav sns";
// }

// .global-nav {
//   grid-area: nav;
// }

// .sns-icons {
//   grid-area: sns;
// }