@use "global" as *;

.p-service {
  margin-top: myrem(200);
}

.p-service__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: myrem(20);
}

.p-service__content-item {
  padding: 15px 0 30px 0;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  justify-content: center;
  gap: myrem(20);
  background-color:$white;
  border-radius: 10%;
}

.p-service__content-title {
  text-align: center;
}

.p-service__content-lead {
  margin: 0 myrem(50);
  text-align: center;
}

.p-service__content-img {
  display: flex;
  // grid-template-columns: subgrid;
  align-items: center;
  justify-content: center
}

.p-service__content-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}